form {
	input[type='text'],
	input[type='email'],
	input[type='tel'],
	input[type='number'],
	textarea,
	select {
		background: $light;
		width: 100%;
		padding: 20px 35px 20px 50px;
		border: 1px solid $light;
		margin-bottom: 15px;
		border-radius: 0;
		font-size: 14px;
		line-height: 1.2;
		outline:none;
		height: 76px;

		@include media-breakpoint-up(md) {
			padding: 12px 15px 12px 70px;
			font-size: 18px;
		}

		&:-internal-autofill-selected {
			background-color: $white !important;
			background-image: none !important;
			color: -internal-light-dark-color(black, white) !important;
		}

		&:focus{
			border:1px solid $primary;
			background: $white;
		}
	}
	input[type='radio'],
	input[type='checkbox'] {
		min-width: 20px;
		min-height: 20px;
		margin: 10px;
	}

	input::placeholder { 
	  color: $black;
	  opacity: 1;
	}

	input:-ms-input-placeholder { 
	  color: $black;
	}

	input::-ms-input-placeholder {
	  color: $black;
	}


	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}

	
	input[type=number] {
	  -moz-appearance: textfield;
	}

	textarea {
		height: 210px !important;
	}

	select {
		appearance: none;
		white-space: normal
	}

	label{
		display: block;
		position: relative;
	}

	.form-group {
		position: relative;
		width: 100%;
		margin-bottom: 0;
		line-height: 1;
		&.select{
			&:before{
				position: absolute;
				top: 35px;
				right: 15px;
				content: '';
				width: 0; 
				height: 0; 
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
				border-top: 7px solid $black;
			}
		}

		.icon {
			position: absolute;
			top: 24px;
			left: 15px;
			max-width: 25px;
			height: 25px; 
			z-index: 10;

			svg,img{
				max-width: 100%;
				height: auto;
			}

			@include media-breakpoint-up(md) {
				left: 25px;
			}
		}
	}

	label.error,
	.field-error {
		display: block;
		margin-bottom: 20px;
		margin-top: 0px;
		color: red;
		font-size: 1.5rem;
	}

	.form-messages {
		text-align: center;
		font-size: 1.6rem;

		&.success {
			color: green;
		}

		&.error {
			color: red;
		}
	}

	.iti{
		width: 100%;
	}
}
